
 <footer class="page-footer teal">
 	<script src="http://code.jquery.com/jquery-latest.min.js"></script> 

	 <!-- JAVASCRIPT -->
	<script src="/js/token.js"></script>
	<script src="/js/materialize.min.js"></script>
	<!-- INITIATE SIDENAV -->
 	<script type="text/javascript">
 		  let elem = document.querySelector('.sidenav');
		  let instance = new M.Sidenav(elem);
		  $(document).ready(function(){
		   $('.sidenav').sidenav();
		  });
 	</script>

	<div class="footer-copyright">
	    <div class="container">
	        © 2018 Copyright Tiago Aro
	    	<a class="grey-text text-lighten-4 right" href="https://github.com/Tgaro">About me</a>
	    </div>
	</div>
</footer?