  <nav>
    <div class="nav-wrapper">
      <a href="\" class="brand-logo right">RESTFull API</a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a href="register">Register User</a></li>
        <li><a href="sendMail">Send Mail</a></li>
      </ul>
    </div>
  </nav>