<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head %>
</head>
<body>

	<header>
		<% include ../partials/header %>
	</header>

	<main>
		<h3>Send mail</h3>
		<div class="container">
			<p class="flow-text">It works with REST service. Use POST method in order to send an email passing the needed parameters and using your API Token.</p>
			<p class="flow-text">If you don't have an API Token already, <a href="register">click here</a> to get yours.</p>
		</div>
	</main>

	<% include ../partials/footer %>
	
</body>
</html>	