<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head %>
</head>
<body>

	<header>
		<% include ../partials/header %>
	</header>

	<main>
		<div>
			<h2>Home</h2>

			<p>Welcome to my RESTFull API</p>
			<p>You can send mails and register data for the interview APP.</p>
			<p>Access <a href="about">about</a> in order to get more info.</p>
            
		</div>
	</main>

	<footer>
		<% include ../partials/footer %>
	</footer>
	
</body>
</html>