<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head %>
</head>
<body>

	<header>
		<% include ../partials/header %>
	</header>

	<main>
		<h3>Welcome to my RESTFull API</h3>
		<div class="container">
			<p class="flow-text">You can send mails and register data for the interview APP.</p>
			<p class="flow-text">Access <a href="about">about</a> in order to get more info.</p>
		</div>
	</main>

	<% include ../partials/footer %>
	
</body>
</html>	