<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head %>
</head>
<body>

	<header>
		<% include ../partials/header %>
	</header>

	<main>
		<div>
			<h2>Your account has been registered.</h2>

			<p id="user">User <b><%= username %></b> has been created.</p>
			<p id="token">Use this token: <b><%= token %></b> in order to send your mails.</p>

		</div>
	</main>

	<% include ../partials/footer %>
	
</body>
</html>